<!DOCTYPE html>
<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="GYm,fitness,business,company,agency,multipurpose,modern,bootstrap4">

    <!-- theme meta -->
    <meta name="theme-name" content="gymfit" />

    <meta name="author" content="Themefisher.com">

    <title>SmartFit Trainer</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.min.css') }}">
    <!-- Icofont Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icofont/icofont.min.css') }}">
    <!-- Themify Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/themify/css/themify-icons.css') }}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/animate-css/animate.css') }}">
    <!-- Magnify Popup -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/magnific-popup/dist/magnific-popup.css') }}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick-carousel/slick/slick-theme.css') }}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Section Menu Start -->
    <!-- Header Start -->
    <nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <h2 class="text-white text-capitalize"></i>Smart<span class="text-color">Fit</span></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
                aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-view-list"></span>
            </button>
            <div class="collapse text-center navbar-collapse" id="navbarsid">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#type">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header Close -->

    <div class="main-wrapper ">
        <!-- Section Menu End -->

        <!-- Section Slider Start -->
        <!-- Slider Start -->
        <section class="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <span class="h6 d-inline-block mb-4 subhead text-uppercase">Gym fitness club</span>
                        <h1 class="text-uppercase text-white mb-5">Step up for<br><span class="text-color">AI fitness Trainer</span><br>with us</h1>
                        <a href="#type" target="_blank" class="btn btn-main " >Get Started <i class="ti-angle-right ml-3"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Slider End -->

        <!-- Section Intro Start -->
        <section class="mt-80px">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-4 col-md-6">
                        <div class="card p-5 border-0 rounded-top border-bottom position-relative hover-style-1">
                            <span class="number">01</span>
                            <h3 class="mt-3">Muscle Detection</h3>
                            <p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
                            <a href="#type" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>more Details</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card p-5 border-0 rounded-top hover-style-1">
                            <span class="number">02</span>
                            <h3 class="mt-3">AI TRAINer</h3>
                            <p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
                            <a href="about.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>more Details</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card p-5 border-0 rounded-top hover-style-1">
                            <span class="number">03</span>
                            <h3 class="mt-3">Personalized Workouts</h3>
                            <p class="mt-3 mb-4">Vestibulum sit amet blan augue, sit amet vehicula mi. Aliquam vitae varius.</p>
                            <a href="about.html" class="text-color text-uppercase font-size-13 letter-spacing font-weight-bold"><i class="ti-minus mr-2 "></i>more Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Intro End -->

        <!-- Section Course Start -->
        <section class="section course bg-gray" id="type">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <div class="section-title">
                            <div class="divider mb-3"></div>
                            <h2>AI Trainers</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
                            <img src="{{ url_for('static', filename='images/Bicep-Curl.webp')}}" alt="" class="img-fluid">
                            <div class="card-body">
                                <a href="/curl"><h4 class="font-secondary mb-0">Bicep Curl</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
                            <img src="{{ url_for('static', filename='images/yoga.avif')}}" alt="" class="img-fluid">
                            <div class="card-body">
                                <a href="/yoga"><h4 class="font-secondary mb-0">Yoga</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Course End -->

        <!-- Section Footer Start -->
        <!-- footer Start -->
        <footer class="footer bg-black-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-auto col-md-auto mb-auto mb-lg-0">
                        <h2 class="text-white mb-5">SmartFit Trainer</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Section Footer End -->

        <!-- Section Footer Scripts -->
    </div>

    <!-- Essential Scripts -->
    <!-- Main jQuery -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.js')}}"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js')}}"></script>
    <!-- Slick Slider -->
    <script src="{{ url_for('static', filename='plugins/slick-carousel/slick/slick.min.js')}}"></script>
    <!--  Magnific Popup-->
    <script src="{{ url_for('static', filename='plugins/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>
    <script src="{{ url_for('static', filename='plugins/google-map/gmap.js')}}"></script>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
